@import '@/styles/variables';

.suscrbNewsletr {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    h3 {
        font-size: 16px;
        line-height: 36px;
        font-weight: 700;
        color: $white;
        margin-bottom: 16px;
    }

    .inputWrap {
        display: flex;
        align-items: center;
        background-color: #fff;
        border-radius: 64px;
        border: 1px solid #D8D8DB;
        padding: 12px;
        height: 70px;

        input {
            flex: 1;
            padding: 0 16px;
            font-size: 14px;
            line-height: 24px;
            color: $black;
            border: none;
            outline: none;

            &::placeholder {
                color: #666;
                font-size: 14px;
                line-height: 24px;
            }
        }

        button {
            background-color: $primary-color;
            color: $white;
            border: none;
            border-radius: 64px;
            padding: 12px 24px;
            font-size: 14px;
            line-height: 24px;
            cursor: pointer;
        }
    }
}

@media (max-width: 767px) {
    .suscrbNewsletr {
        h3 {
            margin-bottom: 8px;
        }
    
        .inputWrap {
            border-radius: 64px;
            padding: 12px;
            height: 50px;
    
            input {
                padding: 0 4px;
    
                &::placeholder {
                    color: #666;
                    font-size: 14px;
                    line-height: 24px;
                }
            }
    
            button {
                padding: 6px 12px;
                font-size: 11px;
                line-height: 20px;
            }
        }
    }
}