@import '@/styles/variables';
.wrapper {
    background-color: $black;
    border-radius: 36px;
    padding: 56px 50px;
    margin-top: 56px;
    color: $white;
}

.logoWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;

    .logoWrapLhs {
        width: 230px;
    }

    .logoWrapRhs {
        display: flex;
        width: 70%;
        gap: 12px;

        a {
            display: block;
        }
    }
}

.content {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #454545;
    border-bottom: 1px solid #454545;
    padding: 36px 0;
    margin-top: 35px;

    .contentItem {
        display: block;

        &:not(:last-child) {
            margin-right: 70px;
        }

        h3 {
            font-size: 16px;
            line-height: 26px;
            font-weight: 700;
            margin-bottom: 16px;
        }

        ul {
            margin: 0;
            padding: 0;

            li {
                list-style-type: none;
                font-size: 14px;
                color: $white;

                &:not(:last-child) {
                    margin-bottom: 20px;
                }

                a {
                    color: $white;
                    text-decoration: none;
                }
            }
        }
       
    }
}

.address {
    .addressItem {
        display: block;
        max-width: 270px;
        font-size: 14px;
        line-height: 33px;
        font-weight: 400;
    }
}

.contectInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 21px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;

    .contectInfoItem {
        display: flex;
        align-items: center;

        span {
            display: block;
            margin-right: 36px;
        }
    }

    .copyright {
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        color: $white;
        margin-left: 20px;
    
    }
}

@media (max-width: 767px) {

    .wrapper {
        padding: 36px 16px;
        margin-top: 24px;
        font-size: 14px;
        line-height: 22px;
    }
    
    .logoWrap {
        margin-bottom: 12px;
    
        .logoWrapLhs {
            width: 180px;
        }
    
        .logoWrapRhs {
            display: none;
        }
    }
    
    .content {
        padding: 16px 0;
        margin-top: 16px;
    
        .contentItem {
            width: 100%;

            h3 {
                margin-bottom: 0;
            }
    
            &:not(:last-child) {
                margin-right: 0;
                margin-bottom: 16px;
            }
    
            ul {
                display: flex;
                overflow: auto;
    
                li {
                    flex-shrink: 0;

                    &:not(:last-child) {
                        margin-bottom: 0;
                        margin-right: 12px;
                    }
                }
            }
           
        }
    }
    
    .address {
        .addressItem {
            &:not(:last-child) {
                margin-bottom: 16px;
            }
        }
    }
    
    .contectInfo {
        margin-top: 21px;
        font-size: 14px;
        line-height: 22px;
    
        .contectInfoItem {
            flex-direction: column;
            justify-content: flex-start;
    
            span {
                display: block;
                margin-right: 36px;
            }
        }
    
        .copyright {
            margin-left: 0;
            margin-top: 16px;
        
        }
    }
}